body {
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
}

.ui.form .field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-container {
    background-color: rgb(195, 223, 232);
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.left .ui.button{
    margin-top: 30px;
}

.ui.form .field button.ui.pink.button {
    border: 2px rgb(252, 181, 193);
}

.ui.form .field .checkbox {
    margin-left: 20px;
    margin-top: 4px;
}

.center {
    text-align: center;
    margin-top: 50px;
}

.todo-container.prio {
    background-color: rgb(249, 230, 230);
    border: 2px solid red;
}

.todo-container.done,
.todo-container.doneprio {
    border: 2px solid green;
}

.left {
    margin-left: 1%;
    width: 40%; 
    padding: 20px; 
    box-sizing: border-box; 
    position: fixed;
}

.right {
    width: 50%; /* Adjusted width for the right column */
    padding: 20px; /* Added padding for spacing */
    box-sizing: border-box; /* Ensure padding doesn't increase width */
    margin-left: 45%;
}

.container2 {
    position: relative;
    height: 20vh;
}

.container2 .ui.button {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ui.button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.empty-text{
    text-align: center;
}
